*, *::before,*::after{
    box-sizing: border-box;
  
                                                

    }

html, body {
    margin: 0;
    padding: 0;
   font-family: 'Cursed Timer ULiL', sans-serif;
}


body {
    margin:auto;
    background-color: #1B244A;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header{
    font-family: 'Karla', sans-serif;
}
.container {
    display: flex;
    
    justify-content: space-around;
    margin: auto;
   
    max-width: 40em;
}
.scorecard{
 

font-weight: 25rem;;
font-size: 5.625rem;
line-height: 141%;
/* or 141% */
color: #F94F6D;
text-align: center;


background:black;
width: 10rem;
height: 10rem;


margin:  0.5rem 0.75rem ;
margin-top:0;
display: flex;
flex-direction: column;
justify-content: space-evenly;



}

h3 {
font-family: Verdana, Geneva, Tahoma, sans-serif;

font-weight: 700;
font-size: 2.5rem;
line-height: 90%;
/* identical to box height, or 90% */
text-align:center;
color: #EEEEEE;
}


#reset{
display:flex;
flex-direction: row;
 margin:1em auto;
  
padding: 0.3em 1em;
    background: red;


  

   
    
}

.homeBtn, .guestBtn{
    display: flex;
    margin: 0 auto;
   
}
button {


margin: 0.25rem;
margin-bottom: 0;

color:#9AABD8;
background-color: #1B244A;
font-family: CursedTimer;

font-weight: 400;
font-size: 1.125rem;
line-height: 155%;
/* or 155% */

border-radius: 5px;
 font-family: 'Cursed Timer ULiL', sans-serif;

}
.home,.guest{
    display: inline-flex;
    flex-direction: column;
 margin: 0 auto;
    justify-content: center;
    
}




.nav{   
    display: flex;
    flex-direction: column;
    margin: 1em auto auto 1em ;
    padding: 0;
    
    }
    
  
    
    @media (max-width:40em){
.mt0{
    margin-top: 0em;
    
    
}   

    .nav{
        display: none;
    }
    .container{
        max-width: fit-content;
    }
    header{
        text-align: justify;
    }

}
    
.btn{
   margin-left: 1em;
}

#btn{ width: 50%;}
#btn:hover,#btn:focus{
        cursor: pointer;}

li{ list-style: none;
    margin-top:1em;}
    
a{text-decoration: none;
    color: whitesmoke;}
a:hover,a:focus,{
    text-decoration: underline;
    cursor: pointer;}
    
@media(min-width: 40em){
    header{
    display: flex;
    flex-direction: column;
    
    margin:  auto;
    text-align: left;
   justify-content: space-evenly;}
    
   
.btn{
    display: none;}
    nav{
     margin: 0 auto;   
    }
.nav{
   
  
    flex-direction: row;
    justify-content: center;
  
    
}
li{
    margin:  2em 2em 0em 0em ;
}
}
